* {
    margin: 0;
    padding: 0;
    -outline: 1px solid lime;
}



/*------FONTS-----------------------------------------------------*/
.text-col-white {
    color: white;
}

.text-col-blue {
    color: #258fdb;
}

.text-bold {
    font-weight: bold;
}

h1 {
    font-size: 8vmin;
    /*font-size: 50px;*/


}

h2, input[type="submit"] {
    font-size: 3.6vmin;

    /*font-size: 24px;*/
    font-weight: normal;
}

h3, textarea, input, select {
    font-size: 2.4vmin;
    line-height: 3vmin;

    /*font-size: 15px;*/
    /*line-height: 20px;*/

    text-decoration: none;
}

a {
    font-size: 2.1vmin;
    /*font-size: 13px;*/

    text-decoration: none;
    color: #373737;
}

p {
    font-size: 2.1vmin;
    line-height: 2.8vmin;

    /*font-size: 13px;*/
    /*line-height: 17px;*/
}


/*------------TRANSITIONS---------------------------------------------*/
header svg,
footer svg {
    transition: transform 0.2s ease;
}

header svg:hover,
footer svg:hover
{
    transform: scale(1.6, 1.6);
}

/*------------TRANSITIONS---------------------------------------------*/
footer p > a {
    transition: background-color 0.4s ease, border-radius 0.4s ease;
}

footer p > a:hover,
footer p > a:active
{
    background-color: #373737;
    border-radius: 7px;
}

section.why-we-best div.in-circle {
    transition: transform 0.2s ease, background-color 0.2s ease;
}

section.why-we-best div.in-circle:hover,
section.why-we-best div.in-circle:active
{
    transform: scale(1.6, 1.6);
    background-color: #f2f2f2;
}

section.students-say div.in-circle {
    transition: background-color 0.2s ease;
}

section.students-say div.in-circle:hover,
section.students-say div.in-circle:active
{
    background-color: #f2f2f2;
}

section.register a > div {
    transition: transform 0.5s ease;
}

section.register a > div:hover,
section.register a > div:active
{
    transform: scale(1.1);
}

/*-----SPECIAL------------------------------------------------------*/
/*div.socials {*/
/*display: inline-block;*/
/*align-items: center;*/
/*}*/






/*------BY CONTENT DIVISION-----------------------------------------------------*/
html{
    min-width: 800px;
}

body {
    width: 100%;
    font-family: Arial, Helvetica;
    color: white;
    display: inline-flex;
    flex-direction: column;
    background-color: #f2f2f2;


}

body > * {
    color: #373737;
}

/*----HEADER-------------------------------------------------------*/
header > *{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

header > :first-child{
    margin-left: 10%;
}

header > :last-child{
    margin-right: 10%;
}

header{
    background-color: #2B8DDD;
    width: 100%;
    display: flex;
    padding: 2.5vmin 0;
}

header > div.in-circle {
    border: 2px solid white;
    border-radius: 50%;
    width: 8vmin;
    height: 8vmin;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 8vmin;
}

header > div.in-circle > h2{
    font-size: 3.4vmin;
}


header > h2{
    justify-content: flex-start;

    flex-grow: 1;
    flex-shrink: 10;
    flex-basis: auto;
    margin-left: 2vmin;
}

header > div.socials{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}


header svg{
    fill: white;
    width: 3.75vmin;
    height: 3.75vmin;
    margin-left: 2vmin;
}

/*-----BACKGROUND IMAGE------------------------------------------------------*/
body > div {
    position: absolute;
    background-color: rgba(38, 126, 195, 0.67);
    width: 100%;
    right: 0;
}

body > div > div.bg-img {
    background: url(../img/university_small.jpg) no-repeat 48% 25%;
    background-size: cover;
    height: 50vh;
    width: 100%;
    opacity: 0.23;

}

/*-------WELCOME---------------------------------------------------*/
section.welcome {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 45%;
    height: 50vh;

    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    justify-content: center;

}

section.welcome h3 {
    font-weight: normal;
    font-size: 5vmin;
    line-height: 6vmin;
}

section.welcome h1 {
    margin-bottom: 1.5vmin;

}

/*--FORM---------------------------------------------------------*/
::-webkit-input-placeholder {
    color: #373737;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #373737;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #373737;
}

:-ms-input-placeholder {
    color: #373737;
}

form {
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
    /*flex-basis: auto;*/

    right: 10%;
    top: 16vmin;

    width: 28%;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    z-index: 1;
    border-bottom: 5px solid #2b8ddd;

}

form > h2 {
    margin: 4vmin 0;
}

form > *:not(h2):not([type="submit"]):not(textarea) {
    width: 85%;
    color: #373737;
    margin-bottom: 1.2vmin;
    border: none;
    border-radius: 0;
    background-color: #f2f2f2;
    height: 5.1vmin;
}

form > textarea {
    width: 85%;
    color: #373737;
    margin-bottom: 1.2vmin;
    height: 9vmin;
    border: none;
    background-color: #f2f2f2;
    resize: none;

}

form > input[type="submit"] {
    background-color: #F72C2D;
    padding: 3vmin 0;
    color: white;
    margin: 1.5vmin 0 5vmin 0;
    border: none;
    width: 60%;

}

/*---------ABC UNIVERSITY--------------------------------------------------*/
section.abc-university {
    width: 45%;

    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 6vmin 0 8vmin 10%;
}

section.abc-university > p:first-of-type{
    margin: 2vmin 0;
}






/*---WHY WE ARE BEST--------------------------------------------------------*/
section.why-we-best {
    display: block;
    background-color: white;
}

section.why-we-best > div {
    display: flex;
}


section.why-we-best > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 25%;
    text-align: center;
}

section.why-we-best > div > div:first-of-type {
    margin-left: 10%;
}

section.why-we-best > div > div:nth-of-type(2) {
    margin: 0 3%;
}


section.why-we-best > div > div:last-of-type {
    margin-right: 10%;
}



section.why-we-best > h2 {
    margin: 2.5% 0 2% 10%;

}

section.why-we-best div.img-best.building {
    background: url("../img/building.jpg") center center no-repeat;
    background-size: cover;


}

section.why-we-best div.img-best.chemistry {
    background: url("../img/chemistry.jpg") center center no-repeat;
    background-size: cover;

}

section.why-we-best div.img-best.teacher {
    background: url("../img/man.jpg") center center no-repeat;
    background-size: cover;

}

section.why-we-best div.img-best {
    width: 100%;
    height: 25vh;
}

section.why-we-best h3 {
    margin: 20px 0 20px 0;
}

section.why-we-best p {
    flex: 1 1 auto;
}

section.why-we-best hr {
    height: 0;
    border-top: 1px solid #f2f2f2;
    margin: 30px 10% 0 10%;

}

section.why-we-best div.in-circle {
    width: 7vmin;
    height: 7vmin;
    border: 2px solid #f2f2f2;
    border-radius: 50%;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

section.why-we-best > a {
    margin: 7vmin 0;

}

/*--------STUDENTS SAY---------------------------------------------------*/
section.students-say {
    background-color: white;
    padding: 30px 0 0 0;

}

section.students-say > div {
    /*display: flex;*/
    /*flex-direction: column;*/

}

section.students-say > div > h2 {
    display: inline-block;
    float: left;
    width: 65%;
    margin: 0 0 20px 10%;

}

section.students-say > div nav {
    display: inline-block;
    justify-content: center;
    float: right;
    margin-right: 10%;
}

section.students-say > div > svg {
    fill: #f2f2f2;
    transform: scale(1.2, 1);
    width: 2.5vmin;
    height: 2.5vmin;
    clear: both;
    display: block;


}

section.students-say > div > svg:first-of-type {
    transform: scale(-1.2, -1);
    margin: 2% 0 2% 10%;
}

section.students-say > div > svg:last-of-type {
    float: right;
    margin: 1% 25% 3% 0;

}

section.students-say > div > p:first-of-type {
    text-align: left;
    margin: 0 25% 0 10%;


}

section.students-say > div > p:last-of-type {
    margin: 15px 25% 0 0;
    float: right;
}

section.students-say div.in-circle > svg {
    fill: #373737;
    width: 3vmin;
    height: 3vmin;

}


section.students-say > div div.in-circle {

    width: 6vmin;
    height: 6vmin;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


/*---------REGISTER--------------------------------------------------*/
section.register {
    display: block;
    width: 100%;
    position: relative;
}

section.register > div.man-img {
    position: absolute;
    background: url(../img/comment2.png) center center no-repeat;
    background-size: contain;
    height: 45vmin;
    width: 30vmin;
    bottom: 0;
    left: 76%;
}

section.register > div.grey-div {
    background-color: #f2f2f2;
    width: 100%;
}

section.register > div.grey-div a.click-btn {
    margin-left: 10%


}

section.register > div.grey-div a.click-btn > div {
    background-color: #f72c2d;
    margin: 7vmin 0 ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2vmin;
}




section.register div.in-circle {
    width: 4vmin;
    height: 4vmin;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

section.register div.in-circle svg {
    transform: scaleX(-1);
    fill: white;
    width: 3vmin;
    height: 3vmin;
}

/*--FOOTER---------------------------------------------------------*/
/*footer > *bg{*/
    /*display: inline-flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
/*}*/

footer {
    background-color: #2B8DDD;
    width: 100%;
    table-layout: fixed;
    padding-top: 5vmin;
}
footer a{
    color: white;
}

footer > div.in-circle {
    border: 2px solid white;
    border-radius: 50%;
    width: 8vmin;
    height: 8vmin;
    margin: 0 1% 0 10%;

    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: left;
    line-height: 8vmin;

}


footer > span{
    margin-right: 30px;
    display: table-cell;
    vertical-align: middle;
    height: 150px;
    float: left;
    position: relative;
}

footer > span > hr{
    position: absolute;
    height: 50%;
    right: -10%;
    bottom: 61%;
    border: 0;
    width: 1px;
    background: #2277ba;
}



footer > div.socials{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

footer > div:last-of-type > *{
    display: inline;
}

footer > div:last-of-type a{
    padding: 5px;
}

footer > div:last-of-type {
    padding-right: 10%;
}

footer svg{
    fill: white;
    width: 3.75vmin;
    height: 3.75vmin;
    margin-left: 2vmin;
}



