
*{
    margin: 0;
    padding: 0;
    -outline: 1px solid lime;
}

html{
}


/*------FONTS-----------------------------------------------------*/

.text-col-white{color: white;}
.text-col-blue{color: #258fdb;}
.text-bold{font-weight: bold;}

h1{
    font-size: 13.5vmin;
    /*font-size: 49px;*/


}

h2, input[type="submit"]{
    /*font-size: 33px;*/
    font-size: 7.1vmin;
    font-weight: normal;
}




h3, textarea, input, select{
    /*font-size: 22px;*/
    font-size: 5vmin;
    line-height: 8vmin;
    text-decoration: none;
}

a{
    /*font-size: 22px;*/
    font-size: 5vmin;
    text-decoration: none;
    color: #373737;
}



p{
    /*font-size: 18px;*/
    font-size: 4.5vmin;
    line-height: 7.5vmin;
}

/*-----SPECIAL------------------------------------------------------*/

div.socials{
    display: inline-flex;
    align-items: center;
}


.in-circle{
    border: 2px solid;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/*------BY CONTENT DIVISION-----------------------------------------------------*/


body{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica;
    color: white;
    background-color: #f2f2f2;


}

body > *{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #373737;
}

/*----HEADER AND FOOTER-------------------------------------------------------*/

header,
footer{
    background-color: #2B8DDD;
    width: 100%;
}

header > div > *,
footer > div > *{

    display: inline-block;

}

header > div.in-circle,
footer > div.in-circle{
    width: 16vmin;
    height: 16vmin;
    border-color: white;
    margin-top: 15px;
}

header > div.socials,
footer > div.socials{
    padding: 2vmin 0 4vmin 0;
    justify-content: space-around;


}

/*header > hr,*/
/*footer > hr{*/
    /*min-width: 300px;*/
    /*width: calc(75px + 35vw);*/
    /*border: 0;*/
    /*border-top: 2px solid #2277ba;*/
/*}*/

header > div.socials > *,
footer > div.socials > * {
    padding: 0 3vmin;



}


header > :first-child,
footer > :first-child
{
    margin-bottom: 5px;
}

header > h2,
footer > h2{
    padding: 5px 0 ;
    border-bottom: 2px solid #2277ba;

}



footer > div:last-of-type{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

footer{
    padding-bottom: 70px;
}

header a, footer a {
    fill: white;
    width: 6.25vmin;
    height: 6.25vmin;

}

/*header svg {*/
    /*transition: transform 0.2s ease;*/
/*}*/

/*header svg:hover{*/
    /*transform: scale(1.4, 1.4);*/
/*}*/


/*-----BACKGROUND IMAGE------------------------------------------------------*/

body > div{
    background-color: rgba(38, 126, 195, 0.67);
    width: 100%;
    position: absolute;
    right: 0;
    min-width: 300px;



}

body > div > div.bg-img{
    background: url(../img/university_small.jpg) no-repeat 48% 25%;
    background-size: 400%;
    height: 110vmin;
    width: 100%;
    z-index: -1;
    position: relative;

}



/*-------WELCOME---------------------------------------------------*/


section.welcome{
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    padding: 7vmin 0 10vmin 0;
    z-index: 2;

}


section.welcome h3 {
    font-weight: normal;
    width: 80%;
}

section.welcome h1{
    margin-bottom: 3vmin;
}



/*--FORM---------------------------------------------------------*/

form{
    background-color: white;
    width: 94%;
    z-index: 1;
    border-bottom: 7px solid #2b8ddd;
    padding-bottom: 20px;
}

form > h2{
    margin: 35px 0 25px 0;
}

form > *:not(h2):not([type="submit"]):not(textarea){
    width: 85%;
    color: #373737;
    margin-bottom: 2.5vmin;
    -border: 2px solid #e1e1e1;
    border: none;
    border-radius: 0;
    background-color: #f2f2f2;
    height: 11vmin;
    line-height: 11vmin;
}


form > textarea {
    width: 85%;
    color: #373737;
    margin-bottom: 2.5vmin;
    -border: 2px solid #e1e1e1;
    border: none;
    background-color: #f2f2f2;
    resize: none;

}


form > input[type="submit"]{
    background-color: #F72C2D;
    padding: 13px 70px;
    color: white;
    margin: 26px 0 26px 0;
    border: none;
}





/*---------ABC UNIVERSITY--------------------------------------------------*/

section.abc-university{
    background-color: #f2f2f2;
    padding: 27px 0 55px 0;
}

section.abc-university > * {
    width: 85%;
}

section.abc-university > h3 {
    margin-bottom: 15px;
}

section.abc-university > p:first-of-type {
    margin-bottom: 25px;
}

/*---WHY WE ARE BEST--------------------------------------------------------*/

section.why-we-best{
    background-color: white;
    padding-bottom: 30px;
}


section.why-we-best > h2{
    margin: 35px 0 0 0;
}

section.why-we-best > div.img-best.building{
    background: url("../img/building.jpg") center center no-repeat;
    background-size: 125%;

}

section.why-we-best > div.img-best.chemistry{
    background: url("../img/chemistry.jpg") center 30% no-repeat;
    background-size: 118%;

}

section.why-we-best > div.img-best.teacher{
    background: url("../img/man.jpg") center 20% no-repeat;
    background-size: 140%;

}


section.why-we-best > div.img-best{
    width: 88%;
    height: 33vmax;
    margin-top: 25px;
}

section.why-we-best > h3{
    margin: 35px 0 22px 0;
}

section.why-we-best > p{
    width: 88%;
}

section.why-we-best > hr{
    width: 95%;
    color: #f2f2f2;
    height: 0;
    border-top: 1px solid #f2f2f2;
    margin-top: 30px;

}

section.why-we-best div.in-circle {
    width: 17vmin;
    height: 17vmin;
    border-color: #f3f3f3;
    margin: 25px 0 25px 0 ;
}
/*--------STUDENTS SAY---------------------------------------------------*/

section.students-say{
    background-color: white;
}

section.students-say > div{
    display: flex;
    flex-direction: column;
    width: 88%;

}




section.students-say > div > h2{
    line-height: 27px;
    margin-bottom: 20px;
}

section.students-say > div > svg path {
    fill: #f2f2f2;
    transform: scale(1.2, 1);

}

section.students-say > div > svg:first-of-type {
    align-self: flex-start;
    transform: scale(-1, -1);
    margin: 20px 0;
}

section.students-say > div > svg:last-of-type {
    align-self: flex-end;
    margin: 4px 0;
}





section.students-say > div > p:first-of-type {
    text-align: left;

}

section.students-say > div > p:last-of-type{
    align-self: flex-end;
    margin-top: 15px;
}


section.students-say > div > nav > div.in-circle > svg{
    fill: #373737;
}

section.students-say > div > nav > div:last-of-type {
    transform: scaleX(-1);
    margin-left: 4px;
}

section.students-say > div div.in-circle{
    width: 38px;
    height: 38px;
    border-color: #f3f3f3;
}

section.students-say > div nav{
    display: inline-flex;
    justify-content: center;
}


/*---------REGISTER--------------------------------------------------*/

section.register{
    display: block;
    background-color: white;
    position: relative;
    width: 100%;
    height: 367px;
}

section.register > div.grey-div{
    position: absolute;
    background-color: #f2f2f2;
    width: 100%;
    height: 60%;
    top: 40%;
}

section.register > div.man-img {
    position: absolute;
    background: url(../img/comment2.png) center center no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;

}

section.register > div.click-btn {
    position: absolute;
    background-color: #f72c2d;
    width: 94%;
    height: 33%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 3%;
    top: 53%;
    line-height: 35px;
}

section.register h2 {
    width: 75%;
}



section.register div.in-circle{
    width: 30px;
    height: 30px;
    border-color: #f3f3f3;
    transform: scaleX(-1);
    fill: white;
}




/*--FOOTER---------------------------------------------------------*/
footer{

}